#menu
{
float:left;
width:100%;
background-color:#bcb8f0;
height:20%;	
border-bottom:1px solid #2116a2;
position:fixed;
top :0;	
left:0;
}

#logo
{
float:left;
width:12%;
height:100%;
}

#logotext
{
float:left;
width:41%;
height:100%;
padding-left:1%;
font-size:5%;
margin-right:25.85%;
display:flex;
flex-direction:column;
margin-top:2%;
}

#menulist
{
float:left;
width:10%;
height:100%;
border-right:1px solid #2116a2;
display:flex;              
flex-direction:column;     
justify-content:center;
text-align:center;
font-size: 20px;
}

#menulist a
{
text-decoration : none;	
}

#body
{
margin-top : 15%; 	

}
#ver_menu
{
float: left;
width: 15%;
margin-top:15%;
}

#ver_menu a
{
background-color:#bcb8f0; 
color: black; 
display: block;
padding: 5%;
text-decoration: none;
}

#ver_menu a:hover
{
background-color: #ccc;
}

#ver_menu a.active
{
background-color: #4CAF50;
color: white;
}